$primary-color-dark: #deb887;
$primary-color: #efebe9;
$primary-color-light: #fff;
$primary-text-color: #5757579c;
$primary-accent-color: #53a8c7;

$secondary-color-dark: #b38244;
$secondary-color: #00000040;
$secondary-text-color: #3b3a3a;
//$secondary-accent-color: #00000030;
//
//$tertiary-color-dark: #e8e8e8;
//$tertiary-color: #090909;
//$tertiary-color-light: #c5c5c5;
//$tertiary-text-color: #000;
//$tertiary-accent-color: #666;
//
//$quarters-color-dark: #a50606d4;
//$quarters-color: #4e626cbf;
//$quarters-color-light: #ddd;
//$quarters-text-light: #ffa500;
//$quarters-accent-color: #bbb8b8;

//$fifth-color-dark: #ef6e38;
//$fifth-color: #bf4816;
//$fifth-color-light: #12b112d9;
//$fifth-accent-color: #183664a3;

$opacity-color: rgba(0,0,0,0.5);
//$intense-color: #3a6073;
$shadow-color: #00000024;
$border-color: #b1b1b1b0;
//$dark-color: #000;