.container {
  @include ds-flx;
  position: relative;
  height: 260px;
  bottom: 350px;
  width: 100%;
  z-index: 3;
  box-shadow: 3px 4px 10px $secondary-color;
  background: $primary-color-light;

  @media screen and (min-width: 360px) {
    bottom: 380px;
  }
  @media screen and (min-width: 390px) {
    bottom: 26em;//bottom: 455px;
  }


  &__form {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    gap: 20px;

    &--title {
      font-size: 0.82rem;
      text-align: center;
    }

    &--camps {
      font-family: 'Poppins', sans-serif;
      border: none;
      outline: none;
      padding: .3em;
      border-bottom: 1px solid $primary-text-color;
    }

    &--camps:focus + &--label,
    &--camps:not(:placeholder-shown) + &--label {
      transform: translateY(-12px) scale(.7);
      transform-origin: left;
      color: $primary-accent-color;
    }

    &--label {
      position: relative;
      cursor: pointer;
      bottom: 50px;
      left: 5px;
      font-size: .75rem;
      color: $primary-text-color;
      transform: translateY(10px);
      transition: trasform .5s, $primary-accent-color .3s;
    }

    &--btn {
      font-family: 'Poppins', sans-serif;
      display: flex;
      position: relative;
      border: none;
      left: 40px;
      padding: 10px;
      border-radius: 18px;
      font-size: .7rem;
      font-weight: 600;
      background: $primary-color-dark;

      &:focus {
        background: $shadow-color;
        color: $shadow-color;
      }
    }
  }
}

