.card {
  height: 90vh;
  margin: 30px;
  overflow: clip;
  box-shadow: 2px 6px 11px $opacity-color;

  &::before {
    @include p-cls;
    bottom: 57px;
    z-index: 3;
    border-bottom: 520px solid $primary-color;
    border-right: 264px solid transparent;

    @media screen and (min-width: 360px) {
      bottom: 65px;
    }
    @media screen and (min-width: 370px) {
      bottom: 60px;
      border-bottom: 525px solid $primary-color;
    }
    @media screen and (min-width: 390px) {
      bottom: 77px;
      border-bottom: 660px solid $primary-color;
    }
    @media screen and (min-width: 410px) {
      bottom: 81.8px;
    }
    @media screen and (min-width: 480px) {
      bottom: 63.8px;
      border-right: 22em solid transparent;
      border-bottom: 55em solid $primary-color;
    }
    @media screen and (min-width: 1024px) {
      bottom: 51.8px;
      border-right: 37em solid transparent;
      border-bottom: 68em solid $primary-color;
    }
  }

  &__background {
    @include ds-flx;
    position: relative;
    width: 100vw;
    bottom: 8px;
    height: 92vh;
    right: 8px;
    background: $primary-color-dark;

    @media screen and (min-width: 360px) {
      height: 92vh;
    }

    &::before {
      @include p-cls;
      bottom: 80px;
      z-index: 2;
      border-right: 240px solid transparent;
      border-bottom: 465px solid $primary-color-dark;

      @media screen and (min-width: 360px) {
        bottom: 88px;
      }
      @media screen and (min-width: 390px) {
        bottom: 74px; //170, l45
        border-bottom: 630px solid $primary-color-dark;
      }
      @media screen and (min-width: 480px) {
        bottom: 425px;
      }
      @media screen and (min-width: 1024px) {
        bottom: 0;
        left: 17em;
        border-right: 22em solid transparent;
        border-bottom: 40em solid $primary-color-dark;
      }
    }

    &--img {
      @include ds-flx;
      height: 260px;
      position: relative;
      right: 10px;
      bottom: 100px;

      @media screen and (min-width: 360px) {
        bottom: 108px;
      }
      @media screen and (min-width: 390px) {
        bottom: 116px;
      }
      @media screen and (min-width: 480px) {
        bottom: 170px;
        left: 45px;
      }
      @media screen and (min-width: 1024px) {
        top: 2px;
        width: 70.2%;
        left: 145px;
        height: 98%;
        border: 2px solid red;

      }

      .img_museum {
        width: 275px;
        padding: 15px;

        @media screen and (min-width: 390px) {
          width: 340px;
        }
        @media screen and (min-width: 1024px) {
          width: 720px;
          position: relative;
          left: 12px;
        }
      }
    }
  }
}

